*.DS_Store
*.bashrc
*.ipynb_checkpoints
*/__pycache__/
*.vscode/
*.jld2
/data/run*/*.*
mathematica_export/*
*.z
*.out
*.sh
runs/test.ipynb
results/
runs/check_shooting.py
venv_gshe/
plots/
.spyproject/
data/*.zip
build/
GSHEWaveform.egg-info/PKG-INFO
