*.DS_Store
*.bashrc
*.ipynb_checkpoints
*/__pycache__/
*.vscode/
*.jld2
*.npy
mathematica_export/*
*.txt
*.z
*.out
*.sh
runs/test.ipynb
results/
runs/check_shooting.py
venv_gshe/
plots/
.spyproject/
data/*.zip
